h1 {
  color: #300462;
}

h2, h3, h4, h5, h6 {
  color: #300462;
  font-weight: 400;
}

.site-title {
  color: #300462;
}

a {
  color: #0901ff;
}

a:hover {
  background: #fff195;
  color: #000;
}

.side-bar {
  background-color: #fcfbf8;
}

p {
  color: #000;
}

li {
  color: #000;
}
